* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  color: #edf0f1;
}

body {
  background-color: #24252a;
}

/***HEADER***/

.logo {
  font-size: 50px;
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
}

header {
  position: sticky;
  top: 0px;
  background-color: #24252a;
  border-bottom: 1px solid #0088a9;
}

.header-container {
  display: flex;
  justify-content: flex-end;
}

label {
  display: flex;
  justify-content: end;
  color: #0088a9;
  font-size: 3em;
  padding: 10px;
  display: none;
}

#hamburger {
  display: none;
}

.nav-list li,
a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease 0s;
}

.nav-list li,
a:hover {
  color: #0088a9;
}

button {
  padding: 10px 10px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 25px;
  font-weight: bold;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/***ABOUT ME***/

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 200px 40px 200px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-top: 110px;
  margin-left: 70px;
}

.hello {
  margin-bottom: 10px;
}

.name {
  font-size: 45px;
  color: #0088a9;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 30px;
}

.woman-image {
  margin-top: 90px;
  margin-left: 60px;
}

.img-about {
  width: 70%;
  height: 70%;
}

/***SKILLS***/

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 100px 40px 30px;
}

.skills-title {
  font-size: 45px;
  color: #0088a9;
}

.skills-description {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.skills-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.skill-icon,
.colored {
  font-size: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  width: 30%;
  padding: 60px;
  margin: 10px;
  transition: border-color 0.6s linear;
}

.card:hover {
  border-color: #0088a9;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

/***QUOTE***/

.quote-section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  padding: 50px 40px 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #0088a9;
  border: solid 10px #24252a;
  transition: border-width 0.6s linear;
}

.quote-section:hover {
  border-width: 25px;
  border-radius: 50px;
  box-shadow: inset 0px 0px 18px 8px #24252a;
}

.quote-icon {
  font-size: 80px;
  margin-bottom: 50px;
}

.quote {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 50px;
}

.author {
  font-size: 30px;
  margin-bottom: 50px;
}

/***PROJECTS***/

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 200px 40px 30px;
}

.project-title {
  font-size: 45px;
  color: #0088a9;
}

.project-description {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.project-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  cursor: pointer;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  width: 30%;
  padding: 20px;
  margin: 10px;
  transition: border-color 0.6s linear;
}

.img-portfolio {
  width: 100%;
  height: 100%;
}

.img-meeting {
  width: 100%;
  height: 100%;
  /* width: 50%; */
}

.img-app {
  width: 100%;
  height: 100%;
}

.img-search {
  width: 100%;
  height: 100%;
}

.img-icon {
  width: 65%;
  height: 65%;
}

.img-game {
  width: 100%;
  height: 100%;
}

/***CONTACT***/

.contact-section {
  border-radius: 1rem;
  padding: 80px 20px 80px;
  margin: auto;
  border: 1px solid #edf0f1;
  margin-bottom: 200px;
  margin-top: 200px;
}

.contact-section li {
  list-style: none;
  line-height: 2;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact {
  width: 50%;
  margin-left: 20px;
  padding-left: 20px;
}

.contact-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #0088a9;
}

.contact-description {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.contact-item:hover .item {
  background-color: #0088a9;
  color: #edf0f1;
  border-radius: 5px;
  font-size: 50px;
  padding: 10px;
}

.item {
  font-size: 30px;
}

.item:hover {
  color: #0088a9;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
  padding-left: 20px;
}

.contact-card {
  width: 500px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-template-rows: 1fr 1fr 150px 1fr;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label {
  color: #edf0f1;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

.input:focus {
  box-shadow: 0px 0px 14px 5px #0088a9;
  outline: none;
}

.text-container {
  grid-column: span 2;
}

.input {
  line-height: 1;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  border-radius: 30px;
  box-shadow: inset 0px 0px 20px 0px #0088a9;
  width: 80%;
}

.submit-button {
  margin-top: 50px;
}

/***FOOTER***/

footer {
  background-color: #0088a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 80px;
}

.footer-item a {
  color: #edf0f1;
}

.footer-list,
.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-links-item:hover .item {
  background-color: #edf0f1;
  color: #0088a9;
  border-radius: 5px;
  padding: 15px;
}

/***MEDIA QUERIES***/

/***SMALL SCREEN DEVICES***/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-list li {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .logo {
    display: none;
  }

  #hamburger:checked ~ .list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: center;
  }

  .nav-list li,
  a,
  button {
    font-size: 18px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 150px 40px 150px;
  }

  .about-me {
    font-size: 18px;
    margin-top: 0;
    margin-left: 0;
  }

  .name {
    font-size: 40px;
  }

  .woman-image {
    margin-top: 70px;
    margin-left: 0;
  }

  .img-about {
    width: 90%;
    height: 90%;
  }

  .skills-section {
    padding: 10px 40px 50px;
  }

  .skills-title {
    font-size: 30px;
  }

  .skills-description {
    font-size: 18px;
  }

  .card {
    width: 80%;
    padding: 40px;
  }

  .card-name {
    font-size: 15px;
  }

  .skill-icon,
  .colored {
    font-size: 60px;
  }

  .quote-section {
    padding: 30px 40px 30px;
  }

  .quote-icon {
    font-size: 50px;
  }

  .quote {
    font-size: 18px;
  }

  .author {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .project-section {
    padding: 10px 40px 50px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-description {
    font-size: 18px;
  }

  .card2 {
    width: 80%;
    padding: 40px;
  }

  .img-portfolio {
    width: 90%;
    height: 90%;
  }

  .img-meeting {
    width: 100%;
  }

  .img-app {
    width: 90%;
  }

  .img-search {
    max-width: 100%;
    height: auto;
  }

  .img-icon {
    width: 50%;
  }

  .img-game {
    max-width: 100%;
    height: auto;
  }

  .contact-section {
    padding: 50px 40px 50px;
    margin-bottom: 80px;
    margin-top: 80px;
    border: none;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .contact {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }

  .contact-description {
    font-size: 18px;
    line-height: 1;
  }

  .item {
    font-size: 25px;
  }

  .contact-item:hover .item {
    font-size: 27px;
  }

  .contact-form {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    padding-left: 0;
  }

  .contact-card {
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    display: inline-block;
  }

  .label {
    font-size: 18px;
  }

  .submit-button {
    margin-top: 30px;
  }

  footer {
    padding: 60px 40px 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-list li {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .logo {
    display: none;
  }

  #hamburger:checked ~ .list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: center;
  }

  .nav-list li,
  a,
  button {
    font-size: 20px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 150px 40px 150px;
  }

  .about-me {
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
  }

  .name {
    font-size: 45px;
  }

  .woman-image {
    margin-top: 70px;
    margin-left: 0;
  }

  .img-about {
    width: 90%;
    height: 90%;
  }

  .skills-section {
    padding: 10px 40px 50px;
  }

  .skills-title {
    font-size: 40px;
  }

  .skills-description {
    font-size: 20px;
  }

  .card {
    width: 50%;
    padding: 45px;
  }

  .card-name {
    font-size: 18px;
  }

  .skill-icon,
  .colored {
    font-size: 70px;
  }

  .quote-section {
    padding: 30px 40px 30px;
  }

  .quote-icon {
    font-size: 50px;
  }

  .quote {
    font-size: 20px;
  }

  .author {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .project-section {
    padding: 10px 40px 50px;
  }

  .project-title {
    font-size: 40px;
  }

  .project-description {
    font-size: 20px;
  }

  .card2 {
    width: 50%;
    padding: 40px;
  }

  .img-portfolio {
    width: 100%;
    height: 100%;
  }

  .img-meeting {
    width: 100%;
  }

  .img-app {
    width: 90%;
  }

  .img-search {
    max-width: 100%;
    height: auto;
  }

  .img-icon {
    width: 60%;
  }

  .img-game {
    max-width: 100%;
    height: auto;
  }

  .contact-section {
    padding: 50px 40px 50px;
    margin-bottom: 80px;
    margin-top: 80px;
    border: none;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .contact {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }

  .contact-description {
    font-size: 20px;
    line-height: 1;
  }

  .item {
    font-size: 25px;
  }

  .contact-item:hover .item {
    font-size: 27px;
  }

  .contact-form {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    padding-left: 0;
  }

  .contact-card {
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 50px;
  }

  .label {
    font-size: 18px;
  }

  .submit-button {
    margin-top: 30px;
  }

  footer {
    padding: 60px 40px 60px;
  }
}

/* @media (max-width: 1024px) {
  .nav-list li {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .logo {
    display: none;
  }

  #hamburger:checked ~ .list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: center;
  }

  .nav-list li,
  a,
  button {
    font-size: 20px;
  }

  .main-container {
    flex-wrap: wrap;
    padding: 100px 40px 100px;
  }

  .about-me {
    margin-top: 45px;
    font-size: 20px;
  }

  .name {
    font-size: 45px;
  }

  .woman-image {
    margin-top: 100px;
  }

  .img-about {
    width: 80%;
  }

  .skills-section {
    padding: 50px 40px 50px;
  }

  .skills-title {
    font-size: 40px;
  }

  .skills-description {
    font-size: 20px;
  }

  .card {
    width: 30%;
    padding: 40px;
  }

  .card-name {
    font-size: 15px;
  }

  .skill-icon,
  .colored {
    font-size: 60px;
  }

  .quote-section {
    padding: 50px 40px 50px;
  }

  .quote-icon {
    font-size: 70px;
  }

  .quote {
    font-size: 20px;
  }

  .author {
    font-size: 30px;
  }

  .project-title {
    font-size: 40px;
  }

  .project-description {
    font-size: 20px;
  }

  .img-portfolio {
    width: 90%;
    height: 90%;
  }

  .img-meeting {
    width: 100%;
  }

  .img-app {
    width: 90%;
  }

  .img-search {
    max-width: 100%;
    height: auto;
  }

  .img-icon {
    width: 50%;
  }

  .img-game {
    max-width: 100%;
    height: auto;
  }

  .contact-section {
    padding: 50px 20px 50px;
    margin: auto;
    border: none;
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .contact {
    width: 50%;
    margin-left: 20px;
    padding-left: 20px;
  }

  .contact-title {
    font-size: 30px;
  }

  .contact-description {
    font-size: 18px;
  }

  .contact-item:hover .item {
    font-size: 30px;
    padding: 10px;
  }

  .item {
    font-size: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .contact-card {
    width: 100%;
    flex-wrap: wrap;
  }

  .label {
    font-size: 18px;
  }
} */
